@media only screen and (max-width: 640px) {
    #drinks-field{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
    }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
    #drinks-field{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #drinks-field{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
    }
}
